{% extends 'cars_app/base.html' %}

{% load my_tags %}

{% block content %}
<h1 class="text-center">{{object.name}}</h1>
<div class="container">
    <br>
    <div class="row">
        <div class="col-3">

            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <p class="card-text">{{object.price}}$</p>
                </div>

                <div class="card-body">
                    <img src="{{ object.image|my_media }}" class="card-img-top" alt="...">
                    <a href="{% url 'users:user-detail' object.owner.pk %}" class="btn btn-primary">Связаться с продавцом</a>
                </div>

                <div class="card-footer">
                    <p class="card-text"> Владелец: {{object.owner}}</p>
                </div>
            </div>
        </div>
        <div  class="col-6">
            <ul class="list">
                <li><span style="font-size: 20px">{{object.description}}</span></li>
                <li><span style="font-size: 20px">Второй тезис с описанием плюсов или минусов товара.</span></li>
                <li><span style="font-size: 20px">Третий тезис с описанием плюсов или минусов товара.</span></li>
                <li><span style="font-size: 20px">И еще один тезис с описанием плюсов или минусов товара.</span></li>
            </ul>
        </div>
            <div class="col-3">
                {% if user == object.owner or user.is_superuser %}
                     <a class="btn btn-warning m-2" href="{% url 'cars:car-update' object.pk %}">Редактировать</a>
                     <a class="btn btn-danger m-2" href="{% url 'cars:car-delete' object.pk %}">Удалить</a>
                {% endif %}
            </div>

    </div>
</div>
{% endblock %}
