
{% extends 'cars_app/base.html' %}

{% load my_tags %}

{% block content %}

<h1 class="text-center">Автомобильный сервис "Развалюшка"!</h1>
<div class="container">
    <div class="text-end">
        {% if user.is_superuser %}
            <a class="btn btn-secondary m-3" href=" {% url 'cars:category-create' %}">Добавить категорию</a>
        {% endif %}
    </div>
    <div class="row">

        {% for object in object_list %}

             <div class="col-3">

                 <div class="card" style="width: 18rem;">

                     <div class="card-header">
                         <h5 class="card-title text-center">{{ object.name }}</h5>
                     </div>

                     <div class="card-body">
                         <img src="{{ object.image|my_media }}" class="card-img-top" alt="...">
                     </div>


                     <div class="card-body">
                         <p class="card-text">{{ object.description }}</p>
                         <a href="{% url 'cars:cars-categories-list' object.pk %}" class="btn btn-primary">Подробнее</a>
                         {% if user.is_superuser %}
                             <a href="{% url 'cars:category-update' object.pk %}" class="btn btn-warning">Редактировать</a>
                             <p></p>
                             <p class="card-text text-center">
                                 <a href="{% url 'cars:category-delete' object.pk %}" class="btn btn-danger">Удалить</a>
                             </p>
                         {% endif %}
                     </div>

                     <div class="card-footer">
                     </div>

                 </div>

             </div>

        {% endfor %}
    </div>

</div>

{% endblock %}
