
{% extends 'cars_app/base.html' %}

{% block content %}

<h1 class="text-center">Автомобильный сервис "Развалюшка"</h1>
<br>

<div class="container">
    <h5 class="text-center">Действительно желаете удалить категорию '{{object.name}}'?</h5>
        <div class="text-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="btn btn-light m-3" href="{% url 'cars:car-detail' object.pk %}">Отменить</a>
                <button type="submit" class="btn btn-danger m-3">Да, удалить</button>
            </form>
        </div>
</div>

{% endblock %}