
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link href="styles/start-page.css" rel="stylesheet" type="text/css">
</head>



<body>
<p style="text-align: right;">
    <a href="#">Каталог</a>
    <a href="#">Регистрация</a>
    <a href="#">Войти</a>
    <a href="#">Выйти</a>
</p>


<h1>Добро пожаловать на автомобильный сервис <em>"Развалюшка"</em>!</h1>
    <br>
    <p>Здесь, Вы, можете купить или продать подержаный автомобиль, а также просто узнать "че-почем"</p>
    <br>
    <p class="picture"><img src="images/collage.jpg" title="Машинки"></p>
    <address class="greeting">Наш адрес: ул.Хорошая, д.11</address>
</body>
</html>
