
{% extends 'cars_app/base.html' %}

{% block content %}

<h1 style="text-align: center; font-size: 32pt;">Добро пожаловать на автомобильный сервис <em>"Развалюшка"</em>!</h1>
    <br>
    <h4 style="text-align: center; font-size: 18pt;">
        Здесь, Вы, можете купить или продать подержаный автомобиль, а также просто узнать "чо-почём"
    </h4>
    <br>
    <p class="picture"><img src="media/car/collage.jpg" title="Машинки"></p>
    <address class="text-end">Наш адрес: ул.Хорошая, д.11</address>

{% endblock %}
