{% extends 'cars_app/base.html' %}

{% load my_tags %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-2">
        </div>

        <div class="col-8 w=100">

            <div class="card" style="width: 18rem;">
                <div class="card-header  text-center">
                    <p class="card-text">Пользователь: {{object.email}}</p>
                </div>

                <div class="card-body text-center">
                    <img src="{{ object.avatar|my_media }}" class="card-img-top" alt="...">
                    <p>
                    <a href="#" class="btn btn-primary">Внести изменения</a>
                    </p>
                </div>

                <div class="card-footer">
                    <p class="card-text">Город: {{object.city}}</p>
                    <p class="card-text">Телефон: {{object.phone}}</p>
                </div>
            </div>
        </div>

        <div class="col-2">
        </div>

    </div>
</div>
{% endblock %}
